{% extends 'layout.html' %}
{% block content %} 

<form role="form" action="/update/{{article.id}}" method="post">
    <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" name="titre" value="{{article.title}}" placeholder="{{article.content}}" required>
    </div>

    <div class="form-group">
        <label for="contenu">Contenu de l'article</label>
        <textarea name="contenu" class="form-control" placeholder="contenu de l'article" rows="3" required></textarea>
    </div> 
 <button type="submit" class="btn btn-default">Modifier</button>
    
</form>

{% endblock %}